//Fonts
$font-main: 'PT Sans Caption', sans-serif;

//Colors

$body-bg: #fff;
$color-text: #364844;
$color-nobrigh: #868686;
$header-mobile: #F6F6F6;
$menu-bg: #1FA181;
$menu-bg-mobile: rgba(69, 146, 127, 0.90);
$button-bg: #0DBC91;
$button-bg-hover: #00D29F;
$section-text-bg: #F8FBFA;
$slaider-bg: #E2F0EF;
$footer-bg: #08664F;
$arrow-bg: #E1E1E1;

//Media
$tablet: 999px;
$tabmob: 768px;
$mobile: 425px;